// font-family: 'Major Mono Display', monospace;
// font-family: 'Open Sans', sans-serif;


body{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 1.6rem;
}

h1{
    font-family: 'Major Mono Display', monospace;
    font-size: 6rem;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

}

h3{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 2.2rem;
}

.intro{
    &__text{
        text-align: justify;
    }
}