
.dropdown{
    background-color: azure;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 0;
    transition: all .5s ease-out;
    

    &__closeBtn{
        position: fixed;
        top:2rem;
        right:4rem;
        font-size: 4rem;
        visibility: hidden;
        color: white;
        z-index: 2000;

        background-color:transparent;
        border: none;
        cursor: pointer;
        z-index:15; 
        @include respond(big-tab) {
            color: $color-grey-medium; 
            top:1rem;
            right:2rem;               
        }
    }

    &__wipe{
        background-color: grey;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        transition: all .5s ease-out;
        z-index: 50;
    }

    &__sideBar{
        width: 30%;
        height: 100%;
        color: $color-grey-medium;
        background-color: $color-four;
        text-align: justify;
        float:left;
       
        transition: all .5s ease-out;
        position: relative;

        @include respond(big-tab) {
            width: 100%;
            height: auto;
        }

        &--content{
            height: 70%;
            padding: 4rem;
            @include respond(big-tab) {
                height: auto;
                display: flex;
            }    
            @include respond(phone) {
                flex-direction: column;
            }        
        }

        &--text{

            @include respond(big-tab) {
                width: 70%;
            }    
            @include respond(phone) {
                width: 100%;
            }          
        }

        &--weather{
            height: 30%;
            text-align: center;
            background-color:white;
            padding-bottom: 2rem;
            @include respond(big-tab) {
                display: flex;
                align-items: center;
            }

            @include respond(phone) {
                flex-direction: column;
            }

        }
    }
    &__sideBarBox{
        width:100%;
        height: 100%;
        float: left;
    }

    &__sideContent{
        
        width: 70%;
        height: 100%;
        float:left;
        transition: all .5s ease-out;

        @include respond(big-tab) {
            width: 100%;
            height: auto;
            overflow: scroll;
        }
    }

    &__gallery{
        width: 100%;
        height: 60%;       
        position: relative;

        @include respond(big-tab) {
            height: 80rem;
        }
        @include respond(small-tab) {
            height: 50rem;
        }
    }

    &__accomodation{
        width: 100%;
        height: 40%;
        display: flex;   
        
        @include respond(big-tab) {
            height: auto;
        }
        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__icon{
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        &--img{
            width: 100%;
        }
    }

    &__triangle{
        position: absolute;
        top:0;
        left:0;
        width: 40%;
        height: 65%;
        background-color: rgba(white, .3);
        clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
        transform: translateX(-100%);
        transition: all 1s;
        transition-delay: .8s;


        &--title{
            width: 50%;            
            position: absolute;
            top: 2rem;
            left: 2rem;
            text-align: left;
            z-index: 50;      
                    @include respond(big-tab) {
            height: 50rem;           
        }  
        }
        &--icon{
            margin-top: 1.5rem;
        }
    }

    &__spots{
        width:50%;
        padding: 3rem;        
        text-align: justify;
        color: white;
        background-color:  $color-five;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        position: relative;
        overflow: hidden;

        @include respond(phone) {
            width:100%;
        }
        
        &--title{            
            text-align: right;  
            margin-bottom: 3rem;
                     
        }
        &--content{
            width: 70%;
            padding: 0 2rem;  
            font-weight: 300;

            @include respond(phone) {
                width:65%;
            }
        }
    }
    &__list{
        list-style: none;
    }

    &__food{
        width:50%;
        padding: 6rem;        
        background-color: $color-one;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        position: relative;
        text-align: right;
        overflow: hidden;

        @include respond(phone) {
            width:100%;
        }    

        &--content{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-end;
        }
        &--title{           
            display: inline;           
            
            padding-right: 2rem;
        }
        &--left{
            width: 50%;                      

            & ul{
                
                padding: 2rem;
            }
        }
        &--right{
            width: 50%;           

            & ul{
                border-left: 1px solid $color-grey-medium;
                padding: 2rem;
            }

        }
    }
}

.weather{
    &__title{
        padding-top: 2rem;
        @include respond(big-tab) {
            width: 20%;   
            margin: 02rem;                  
        }
        @include respond(phone) {
            width:100%;
        }
    }
    &__day{
        width: 12rem;
        height: 12rem;
        display: inline-block;
        
        @include respond(big-tab) {
            width: 30%;
            display: flex;  
            align-items: center;            
        }
    }

    &__icon{
        width: 12rem;
        height: 12rem;
        margin-bottom: 1rem;

        @include respond(big-tab) {
            width: 8rem;
            height: 8rem;            
        }

        &--img{
            width: 100%;
        }
    }
    &__desc{
        margin-bottom: 1rem;
    }
}
.gallery{
    
    &__img{
        width: 100%;
        height: 100%;        
        @include background;
        position: absolute;
        top: 0;
        left: 0; 
        transition: all 1s;
        @include respond(big-tab) {
           background-position: bottom;          
        }                 

        &--1{
            background-image: url(../img/hollywood.jpg);
            
        }
        &--2{
            background-image: url(../img/beverlyHills.jpg);
            
        }
        &--3{background-image: url(../img/griffith.jpg);}
        &--4{background-image: url(../img/santaMo-1.jpg);}
        &--5{background-image: url(../img/santaMo-2.jpg);}
        &--6{background-image: url(../img/santaMo-3.jpg);}
        &--7{background-image: url(../img/malibu-1.jpg);}
        &--8{background-image: url(../img/malibu-2.jpg);}
        &--9{background-image: url(../img/malibu-3.jpg);}
        &--10{background-image: url(../img/santaB-1.jpg);}
        &--11{background-image: url(../img/santaB-2.jpg);}
        &--12{background-image: url(../img/santaB-3.jpg);}
        &--13{background-image: url(../img/morroB-1.jpg);}
        &--14{background-image: url(../img/morroB-2.jpg);}
        &--15{background-image: url(../img/morroB-3.jpg);}
        &--16{background-image: url(../img/cambria-1.jpg);}
        &--17{background-image: url(../img/cambria-2.jpg);}
        &--18{background-image: url(../img/cambria-3.jpg);}
        &--19{background-image: url(../img/bigSur-1.jpg);}
        &--20{background-image: url(../img/bigSur-2.jpg);}
        &--21{background-image: url(../img/bigSur-3.jpg);}
        &--22{background-image: url(../img/monterey-1.jpg);}
        &--23{background-image: url(../img/monterey-2.jpg);}
        &--24{background-image: url(../img/monterey-3.jpg);}
        &--25{background-image: url(../img/santaCruz-1.jpg);}
        &--26{background-image: url(../img/santaCruz-2.jpg);}
        &--27{background-image: url(../img/santaCruz-3.jpg);}
        &--28{background-image: url(../img/sanFran-1.jpg);}
        &--29{background-image: url(../img/sanFran-2.jpg);}
        &--30{background-image: url(../img/sanFran-3.jpg);}
    }
    
    &__square{
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        width: 20%;
        padding: 1rem;
        float: right;
        text-align: right;
        z-index: 50;
    }

    &__imgBtn{
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        background-color: white;
        display: inline-block;
        transition: all .2s;
        &:hover{
            transform: scale(1.3);
        }
    }

}

.slideDown{    
    height: 100vh;
    z-index: 1000;    
    @include respond(big-tab) {
        height: 100%;        
        overflow: scroll;       
    } 
}

.width{
    width: 100%;
}
.slideSideBar{
    width: 0
}

.hidden{    
    opacity: 0;
}
.off{
    visibility: hidden;
}

.scaleUp{
    transform: scale(1.3);
}

@keyframes fadeIn
{
  0%   {opacity:0}  
  100% { opacity: 1}
}
