.intro{
    
    background-color: $color-three;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-one;

    
    @include respond(phone) {
        flex-direction: column;
        padding: 4rem;
    }
    
    &__flex{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        @include respond(phone) {
            width: 100%;
            order: -1;
        }
    }

    &__map{
        width: 30%;
        height: 45rem;
        background-color: antiquewhite;
        border-right: 1px dashed $color-one;

        @include respond(phone) {
            width: 100%;
        }

        & iframe{
            width: 100%;
            height: 100%;
        }
    }

    &__opening{
        color: $color-two;
        margin-bottom: 2rem;   
    }

    &__text{
        margin: 4rem; 
        @include respond(phone) {
            margin-left: 0;
        }
    }

    &__info{
        width: 30%;
        border-left: 1px dashed $color-one;
        &--dist{
            padding: 2rem; 
        }

        &--title{
            margin-bottom: 2rem;
            
        }
    }
}