.noscroll {
    position: fixed;
    overflow: hidden;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;    
    z-index: 2000;
}

#overlay {
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

#spinner {    
    position: fixed;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid$color-grey-light;
    border-top: 5px solid $color-two;
    margin-top: -2rem;
    margin-left: -2rem;
    z-index: 110;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

