.roadtrip{
    position: relative; 
}

.trip{    
    margin: 0 auto;
    padding-top: 30rem;
    position: relative; 

    @include respond(big-tab) {
        padding-top: 20rem;
    }  
    @include respond(phone) {
        padding-top: 5rem;
    }  
    
    &__container{
        transition : all .5s ease-out;
        transform: translateY(50%);
        padding-bottom: 20rem;
        padding-left: 6rem;
        position: relative;

        @include respond(big-tab) {
            padding-bottom: 10rem;
        }  
        @include respond(small-tab) {
            padding-left: 0rem;
        } 
        @include respond(phone) {
            padding-bottom: 5rem;
        }
    }
    
    &__flexContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &--master{
            width: 100%;
        }

        &--child{
            width: 80%;
            padding: 3rem;
            @include respond(big-tab) {
                padding: 5rem;
            }
            @include respond(phone) {
                width: 100%;
            }
        }
    }

    &__icon{
        width: 16rem;
        height: 16rem;  
        margin: 0 auto; 
        margin-bottom: 5rem;
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);    

        @include respond(desktop) {
            top: -20%;
        }
        @include respond(phone) {
            top: -32%;
            left: 20%;
        }
        
        &--img{
            width: 100%;
        }
    }

    &__infoBox{
        padding: 1rem;
        padding-right: 6rem;
        width: 20%;
        overflow: hidden;

        @include respond(desktop) {
            padding-right: 3rem;
        }
        @include respond(small-tab) {
            padding: 0 3rem;
        }
        @include respond(phone) {
            order: -1;
            width: 100%;
            padding-right: 5rem;
        }

    }

    &__info{  
        
        float : right;        
        transform: translateX(-100%);        
        transition : all .6s ease-out;

        @include respond(phone) {
            padding: 2rem;
            background-color: $color-four;
        }
       

        &--full{
            color: $color-two;
            text-align: left;
            padding-bottom: 1rem;
            border-bottom: 1px dashed $color-one;
        }
        &--dist{
            color: $color-two;
            position: relative;
            text-align: left;
            padding-top: 2rem;
        }
        &--title{
            text-align: center;
            color: $color-one;
            padding-bottom: 1rem;
        }        
    }

    &__dash{
        width:4rem;
        border-bottom: 1px solid $color-two;
        position: absolute;
        top: 0;
        left: -8rem;
        z-index: -20;       
    }


    &__photo{
        width: 65%;   
        @include respond(big-tab) {
            width: 100%; 
            padding: 0 3rem;
        } 
                
        &--img{
            width: 100%;         
        }    
        &--line{
            width: 50%;            
            margin-top: 4rem;
            border-bottom: 1px solid $color-grey-light;

            @include respond(small-tab) {
                width: 0;  
            }         
        }   

    }
    &__desc{
        position: relative; 
        padding: 5rem 3rem;
        border-top: 1px solid $color-grey-light;       
        width: 35%;

        @include respond(big-tab) {
            width: 100%; 
            order: -1;
        } 
        
    }

    &__btn{
        float: right;
        margin-top: 4rem;
        padding: 1rem;
        color: $color-two;
        text-transform: uppercase;
        border : 1px solid $color-two;
        transition: all .3s;

        &:hover{
            transform: scale(1.2);
        }
        @include respond(big-tab) {
            float: left;
        } 
    }
}

.rightInline{
    text-align: right;
}
