// font-family: 'Major Mono Display', monospace;
// font-family: 'Open Sans', sans-serif;


body{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 1.6rem;
}

h1{
    font-family: 'Major Mono Display', monospace;
    font-size: 6rem;
    
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

}

h3{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 3rem;
    font-weight: 300;
    line-height: 5rem;
}
h4{
    font-family: 'Open Sans', sans-serif;    
    font-variant: small-caps;    
    letter-spacing: .18rem;
    font-weight: 300;
    font-size: 2.2rem;
}


.intro{
    &__text{
        text-align: justify;
    }
    &__info{
        text-align: center;
        &--title{
            font-family: 'Open Sans', sans-serif;    
            font-variant: small-caps;    
            letter-spacing: .18rem;
            font-weight: 300;
            font-size: 2.5rem;
        }
        &--num{
            font-family: 'Major Mono Display', monospace;
            text-transform: lowercase;
            font-size: 3rem;
        }
    }
}

.dropdown{
    &__triangle--title{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 2.2rem;
    line-height: 3rem;
    }
    &__spots--content{
        font-weight: 300;
    }
    &__food--content{
        font-weight: 300;
    }
}

.weather{
    &__desc{
        text-transform: capitalize;
        font-size: 1.2rem;
        text-align: center;
    }
    &__temp{
        font-size: 2rem;
        text-align: center;
    }
}

.trip{
    &__info{
        font-family: 'Major Mono Display', monospace;
        text-transform: lowercase;
        font-size: 3.5rem;

        &--title{
            font-family: 'Open Sans', sans-serif;
            text-transform: none;
            font-style: italic;
            font-size: 1.5rem;
        }
    }
}

.mini{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 1.5rem;
}