// font-family: 'Major Mono Display', monospace;
// font-family: 'Open Sans', sans-serif;


body{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 1.6rem;
}

h1{
    font-family: 'Major Mono Display', monospace;
    font-size: 6rem;
    @include respond(phone) {
        font-size: 4rem;
    }
    
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;

    @include respond(phone) {
        font-size: 1.8rem;
    }

}

h3{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 4rem;
    text-align: center;
}
h4{
    font-family: 'Open Sans', sans-serif;    
    font-variant: small-caps;    
    letter-spacing: .18rem;
    font-weight: 300;
    font-size: 2.2rem;
    @include respond(small-tab) {
        font-size: 1.8rem;
    }
}

.navigation{
    &__link{
        font-family: 'Major Mono Display', monospace;
        font-size: 3rem;
        text-decoration: none;
    }
    &__sublink{
        font-family: 'Major Mono Display', monospace;
        font-size: 1.6rem;
        text-transform: lowercase;
        text-decoration: none;

    }
}


.intro{
    &__text{
        text-align: justify;
    }
    &__info{
        text-align: center;
        &--title{
            font-family: 'Open Sans', sans-serif;    
            font-variant: small-caps;    
            letter-spacing: .18rem;
            font-weight: 300;
            font-size: 2.5rem;
            @include respond(small-tab) {
                font-size: 1.6rem;
                font-weight:400;
            }
        }
        &--num{
            font-family: 'Major Mono Display', monospace;
            text-transform: lowercase;
            font-size: 3rem;

            @include respond(small-tab) {
                font-size: 2rem;
            }
        }
    }
}

.dropdown{
    &__triangle--title{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 2.2rem;
    line-height: 3rem;
    @include respond(laptop) {
        font-size: 1.8rem;
    }
    @include respond(big-tab) {
        font-size: 2.2rem;        
    }
    @include respond(small-tab) {
        font-size: 1.8rem;        
    }
    }
    &__spots--content{
        font-weight: 300;
    }
    &__food--content{
        font-weight: 300;
    }
}

.weather{

    &__dayName{
        @include respond(laptop) {
            font-size: 1.5rem;           
        }

    }
    &__desc{
        text-transform: capitalize;
        font-size: 1.2rem;
        text-align: center;
    }
    &__temp{
        font-size: 2rem;
        text-align: center;
        @include respond(laptop) {
            font-size: 1.5rem;           
        }
    }
}

.trip{
    &__info{
        font-family: 'Major Mono Display', monospace;
        text-transform: lowercase;
        font-size: 3.5rem;
        @include respond(big-tab) {
            font-size: 2.5rem;
        }

        &--title{
            font-family: 'Open Sans', sans-serif;
            text-transform: none;
            font-style: italic;
            font-size: 1.5rem;
        }
    }
}

.mini{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 1.5rem;
    @include respond(small-tab) {
        font-size: 1rem;
    }
}

.footer{
    &__title{
        font-family: 'Major Mono Display', monospace;
        font-size: 3rem;
        @include respond(phone) {
            font-size: 2rem;
        }
    }
    &__subtitle{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-size: 1.5rem;
    }
}