//COLORS

$color-grey-light:#cccccc;
$color-grey-light2:#ebebeb;
$color-grey-medium:#999999;
$color-grey-dark:#666666;


$color-one:#074684;
$color-two: #1e98ee;
$color-three: #b3e0ff;
$color-four: #e5f3fc;
$color-five: #429bda;

//MARGINS

.margin-bottom-small{
    margin-bottom: 2rem;
}
.margin-bottom-medium{
    margin-bottom: 4rem;
}
.margin-top-big{
    margin-top: 25rem;
    @include respond(big-tab) {
        margin-top: 15rem;
    }
    @include respond(desktop) {
        margin-top: 5rem;
    }
}

.left{
    text-align: left;
    @include respond(phone) {
        text-align: center;
    } 
}
.right{
    text-align: right;
    float: right;

    @include respond(big-tab) {
        text-align: left;
        float: left;
    } 
    @include respond(phone) {
        text-align: center;
    } 
}
